.image {
    max-width: 640px;
}

.image img {
    width: 100%;
}

input[type=radio]:not(:checked) + .container {
    display: none;
}

#photo-switch {
    position: relative;
}

input[type=radio] {
    position: absolute;
    left: -1000px;
}
